<template>
  <div class="home">
    <h2>People's Playlists</h2>
    <div v-if="error" class="error">Could not fetch the data</div>
    <ListView v-if="documents" :playlists="documents" />
  </div>
</template>

<script>
import getCollection from "@/composables/getCollection";
import ListView from '@/components/ListView';

export default {
  name: "Home",
  components: {
    ListView
  },
  setup() {
    const { error, documents } = getCollection('playlists');

    return {error, documents}
  },
};
</script>
