<template>
  <div class="navbar">
    <nav>
      <img src="@/assets/logo.png" />
      <h2><router-link :to="{ name: 'Home' }">Vue Playlist</router-link></h2>
      <div class="links">
        <div v-if="user">
          <router-link :to="{ name: 'Home' }">Home</router-link>
          <router-link :to="{ name: 'UserPlaylists' }">My Playlists</router-link>
          <router-link :to="{ name: 'CreatePlaylist' }">Create Playlist</router-link>
          <span>Hi, {{user.displayName}}</span>
          <button @click="handleClick">Logout</button>
        </div>
        <div v-else>
          <router-link class="btn" :to="{ name: 'Signup' }">Sign Up</router-link>
          <router-link class="btn" :to="{ name: 'Login' }">Login</router-link>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import useLogout from "@/composables/useLogout";
import getUser from "@/composables/getUser";
import { useRouter } from "vue-router";

export default {
  setup() {
    const { logout } = useLogout();
    const { user } = getUser();
    const router = useRouter();

    const handleClick = async () => {
      await logout();
      console.log("User Logged Out");
      router.push({ name: "Login" });
    };

    return { handleClick, user };
  },
};
</script>

<style scoped>
.navbar {
  padding: 16px 10px;
  margin-bottom: 60px;
  background: white;
}
nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav h1 {
  margin-left: 20px;
}
nav .links {
  margin-left: auto;
}
nav .links a,
button {
  margin-left: 16px;
  font-size: 14px;
}
nav img {
  max-width: 30px;
  margin-right: 10px;
}
span {
  font-size: 14px;
  display: inline-block;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
}
</style>